<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head::head('用户管理')}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="~{common/header::header}"></header>
    <aside th:replace="~{common/menus::menus}"></aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                用户管理
                <small>导航</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">用户管理</li>
            </ol>
        </section>
        <section class="content">
            <div class="alert alert-success alert-dismissible" th:if="${baseResult != null}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span th:utext="${baseResult.getMessage()}"></span>
            </div>
            <div class="box box-info box-info-search" style="display: none">
                <div class="box-header with-border">
                    <h3 class="box-title">高级搜索</h3>
                </div>
                    <div class="row form-horizontal">
                        <div class="form-group col-md-3 col-xs-12">
                            <label for="username3" class="col-sm-4 control-label">用户名</label>

                            <div class="col-sm-8">
                                <input name="username" th:value="${user == null?'':user.getUsername()}"
                                       class="form-control" id="username3"
                                       placeholder="请输入用户的用户名">
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-xs-12">
                            <label for="mobile3" class="col-sm-4 control-label">电话</label>

                            <div class="col-sm-8">
                                <input name="mobileNumber" class="form-control" id="mobile3"
                                       th:value="${user == null?'':user.getMobileNumber()}"
                                       placeholder="请输入用户的电话">
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-xs-12">
                            <label for="inputEmail3" class="col-sm-4 control-label">邮箱</label>

                            <div class="col-sm-8">
                                <input name="email" id="inputEmail3" class="form-control"
                                       th:value="${user == null?'':user.getEmail()}"
                                       placeholder="请输入用户的邮箱">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-right: 70px">
                        <button type="button" onclick="search()" class="btn btn-info pull-right"><i class="fa fa-search"></i> 搜索
                        </button>
                    </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">用户列表</h3>
                        </div>
                        <div class="box-body">
                            <a href="#" th:href="@{/user/form}" type="button" class="btn btn-default btn-xs"><i
                                    class="fa fa-plus"></i> 新增</a>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-default btn-xs" onclick="App.delMul('/user/del')"><i
                                    class="fa fa-trash"></i> 删除
                            </button>&nbsp;&nbsp;&nbsp;
                            <a href="#" type="button" class="btn btn-default btn-xs"><i class="fa fa-download"></i>
                                导入</a>&nbsp;&nbsp;&nbsp;
                            <a href="#" type="button" class="btn btn-default btn-xs"><i class="fa fa-upload"></i> 导出</a>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary btn-xs"
                                    onclick="$('.box-info-search').css('display') == 'none'?$('.box-info-search').show('fast'):$('.box-info-search').hide('fast');">
                                <i class="fa fa-search"></i> 搜索
                            </button>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="datatable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" class="minimal icheck_master"></th>
                                    <th>ID</th>
                                    <th>用户名</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>更新时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
    </div>
    <footer th:replace="~{common/copyright::copyright}"></footer>
</div>
<div th:replace="~{common/modal::default(null)}"></div>
<div th:replace="~{common/modal::result(null)}"></div>
<div th:include="~{common/footer::footer}"></div>
<script>
    var _dataTable;
    $(function () {
        var columns = [
            {
                "data": function (row, type, val, meta) {
                    return '<input id="' + row.id + '" type="checkbox" class="minimal" />';
                }
            },
            {"data": "id"},
            {"data": "username"},
            {"data": "mobileNumber"},
            {"data": "email"},
            {"data": "mtime"},
            {
                "data": function (row, type, val, meta) {
                    var detailUrl = "'/user/detail?id="+row.id+"'";
                    var delUrl = "'/user/del'";
                    return '<button class="btn btn-sm btn-default" onclick="App.showDetail('+detailUrl+');"><i class="fa fa-search"></i> 查看</button>&nbsp;&nbsp;&nbsp;' +
                        '<a href="/user/form?id='+row.id+'" type="button" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> 编辑</a>&nbsp;&nbsp;&nbsp;' +
                        '<button class="btn btn-sm btn-danger" onclick="App.delSingle('+delUrl+','+row.id+')"><i class="fa fa-trash-o"></i> 删除</button>'
                }
            }
        ];
        _dataTable = App.initDataTables("/user/page",columns);
    });
    function search() {
        var username = $("#username3").val();
        var mobileNumber = $("#mobile3").val();
        var email = $("#inputEmail3").val();
        var param = {
            "username": username,
            "mobileNumber": mobileNumber,
            "email": email
        };
        _dataTable.settings()[0].ajax.data = param;
        _dataTable.ajax.reload();
    };
</script>
</body>
</html>
